Excel2Xml/_UAF_Web_Report_.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="report">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element type="xs:short" name="rentity_id"/>
        <xs:element type="xs:byte" name="rentity_branch"/>
        <xs:element type="xs:string" name="submission_code"/>
        <xs:element type="xs:string" name="report_code"/>
        <xs:element type="xs:string" name="entity_reference"/>
        <xs:element type="xs:string" name="fiu_ref_number"/>
        <xs:element type="xs:dateTime" name="submission_date"/>     <!--dateTime-->
        <xs:element type="xs:string" name="currency_code_local"/>
        <xs:element name="reporting_person">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="gender"/>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="first_name"/>
              <xs:element type="xs:string" name="last_name"/>
              <xs:element type="xs:dateTime" name="birthdate"/>   <!--dateTime-->
              <xs:element type="xs:string" name="id_number"/>
              <xs:element type="xs:string" name="nationality1"/>
              <xs:element name="phones">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="phone">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="tph_contact_type"/>
                          <xs:element type="xs:string" name="tph_communication_type"/>
                          <xs:element type="xs:short" name="tph_country_prefix"/>
                          <xs:element type="xs:string" name="tph_number"/>
                          <xs:element type="xs:short" name="tph_extension"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="addresses">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="address_type"/>
                          <xs:element type="xs:string" name="address"/>
                          <xs:element type="xs:string" name="town"/>
                          <xs:element type="xs:string" name="city"/>
                          <xs:element type="xs:short" name="zip"/>
                          <xs:element type="xs:string" name="country_code"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="occupation"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="location">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="address_type"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:string" name="city"/>
              <xs:element type="xs:string" name="country_code"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="reason"/>
        <xs:element type="xs:string" name="action"/>
        <xs:element name="transaction">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="transactionnumber"/>
              <xs:element type="xs:string" name="internal_ref_number"/>
              <xs:element type="xs:string" name="transaction_location"/>
              <xs:element type="xs:string" name="transaction_description"/>
              <xs:element type="xs:dateTime" name="date_transaction"/>        <!--dateTime-->
              <xs:element type="xs:string" name="transmode_code"/>
              <xs:element type="xs:string" name="transmode_comment"/>
              <xs:element type="xs:float" name="amount_local"/>
              <xs:element name="involved_parties">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="party">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="role"/>
                          <xs:element name="person_my_client">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="first_name"/>
                                <xs:element type="xs:string" name="middle_name"/>
                                <xs:element type="xs:string" name="last_name"/>
                                <xs:element type="xs:dateTime" name="birthdate"/>     <!--dateTime-->
                                <xs:element type="xs:string" name="ssn"/>
                                <xs:element type="xs:string" name="id_number"/>
                                <xs:element name="phones">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="phone">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:byte" name="tph_contact_type"/>
                                            <xs:element type="xs:string" name="tph_communication_type"/>
                                            <xs:element type="xs:string" name="tph_number"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="addresses">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="address">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:byte" name="address_type"/>
                                            <xs:element type="xs:string" name="address"/>
                                            <xs:element type="xs:string" name="city"/>
                                            <xs:element type="xs:string" name="country_code"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="email"/>
                                <xs:element name="employer_address_id">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="address_type"/>
                                      <xs:element type="xs:string" name="address"/>
                                      <xs:element type="xs:string" name="city"/>
                                      <xs:element type="xs:string" name="country_code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="employer_phone_id">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="tph_contact_type"/>
                                      <xs:element type="xs:string" name="tph_communication_type"/>
                                      <xs:element type="xs:string" name="tph_number"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="identification">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="type"/>
                                      <xs:element type="xs:string" name="number"/>
                                      <xs:element type="xs:dateTime" name="issue_date"/>      <!--dateTime-->
                                      <xs:element type="xs:dateTime" name="expiry_date"/>     <!--dateTime-->
                                      <xs:element type="xs:string" name="issue_country"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="funds_code"/>
                          <xs:element type="xs:string" name="funds_comment"/>
                          <xs:element type="xs:string" name="country"/>
                          <xs:element type="xs:byte" name="significance"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="comments"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>